<h1>Listing linha_items</h1>

<table>
  <tr>
    <th>Produto</th>
    <th>Carrinho</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @linha_items.each do |linha_item| %>
  <tr>
    <td><%= linha_item.produto_id %></td>
    <td><%= linha_item.carrinho_id %></td>
    <td><%= link_to 'Show', linha_item %></td>
    <td><%= link_to 'Edit', edit_linha_item_path(linha_item) %></td>
    <td><%= link_to 'Destroy', linha_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Linha item', new_linha_item_path %>
