<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @retirante.nome %>
</p>

<p>
  <b>Celular:</b>
  <%= @retirante.celular %>
</p>

<p>
  <b>Email:</b>
  <%= @retirante.email %>
</p>

<p>
  <b>Siap:</b>
  <%= @retirante.siap %>
</p>

<p>
  <b>Siad:</b>
  <%= @retirante.siad %>
</p>

<p>
  <b>Categoria:</b>
  <%= @retirante.categoria %>
</p>


<%= link_to 'Edit', edit_retirante_path(@retirante) %> |
<%= link_to 'Back', retirantes_path %>
